@import "./custom-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rt-TextAreaRoot.autosize {
    .rt-TextAreaInput {
      height: 30px;
      flex-shrink: 1;
      flex-grow: 0;
    }
  }
}
