.mainLayout {
  width: 100vw;
  height: 100vh;
  padding: rem(14px);
  border-radius: var(--mantine-radius-md);
  display: grid;
  grid-template-columns: auto 1fr;
}

.layoutSidebar {
  overflow: hidden;
}

.layoutView {
  height: 100%;
  overflow: hidden;
}
