:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.should-blur {
  background-color: rgba(255, 255, 255, 0.3);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /*background: #f4f0ee;*/
   background-color: #faf8f4;
  /* background-image: url("../public/bg-2.jpg"); */
  background-position: center;
  background-size: cover;
}

.test {
  background-image: url("../public/bg-2.jpg");
  background-position: center;
  background-size: cover;
  border: none;
}


body.bg3, .bg3 .test {
  background-image: url("../public/bg-3.jpg");
}

.bg4, .bg4 .test {
  background-image: url("../public/bg-4.jpg");
}

.bg5, .bg5 .test {
  background-image: url("../public/bg-5.jpg");
}

#app {
  padding: 8px;
  background: hsl(0deg 0% 99.61% / 65%);
}

#root, #app {
  height: 100%;
}
